@import colors

.about-content
	color: $navbg
	line-height: 1.5

	h2
		font-size: 24px
		width: 450px
		padding: 20px
		color: #fff
		background-color: $navbg
		margin-top: 50px
		margin-bottom: 20px
		display: block
		text-align: center

	p
		font-size: 22px
		text-align: justify

	.AWM_photo
		max-width: 300px
		float: right
		margin-left: 20px

.treatments-header
	color: $navbg
	line-height: 1.5

	h2
		font-size: 24px
		width: 450px
		padding: 20px
		color: #fff
		background-color: $navbg
		margin-top: 50px
		margin-bottom: 20px
		display: block
		text-align: center

	p
		font-size: 22px
		text-align: justify

.test
	height: 1000px
	background-color: #ccc