@import colors

.about-content
	color: $navbg
	line-height: 1.5

	h2
		font-size: 24px
		display: inline-block
		width: 450px
		padding: 20px
		color: #fff
		background-color: $navbg
		margin-top: 50px
		margin-bottom: 20px

	h2:last-of-type
		float: right

	p
		font-size: 22px
		text-align: justify
		display: inline-block