@import fonts

/*comment*/
body
	margin: 0
	font-family: $lato
	padding-top: 50px

@import navigation
@import phone_girl
@import jumbotron
@import main_content
@import bodymap
@import footerstyle

.hide
	display: none

.show
	display: block